header {
    /* background-color:#090909; */
    color: rgb(2, 2, 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 10%;

}

header h1 {
    font-size: 30px;
    margin: 0;
    padding-right: 10px ;
    /* background-color: black; */
    color: rgb(16, 15, 15);
}

/* Nav bar section */
#nav-bar h1{
    font-size: 25px;
    margin: 0;
}

#nav-bar{
    color: white;
}
#nav-bar ul {
    list-style: none;
    padding-left: 0;
}

 #nav-bar li {
    display: inline-block;
    margin-right: 20px;
}

#nav-bar li a{
    text-decoration: none;
    
}
/* remove the underline from the links */
a{
    text-decoration: none;
}

.nav-button a{
    color: white
}




button{
    background-color: #27a327;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
}


/* Footer section */
footer {
    background-color: #27a327;
    color: #090909;
    text-align: center;
    padding: 2px;
    max-width: 100%;

    /* padding: 20px;
    position: fixed; */
}