header {
    background-color:#090909;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;

}

/* Nav bar section */
#nav-bar h1{
    font-size: 25px;
    margin: 0;
}

#nav-bar ul {
    list-style: none;
    padding-left: 0;
}

 #nav-bar li {
    display: inline-block;
    margin-right: 20px;
}

#nav-bar li a{
    text-decoration: none;
}